@page "/"
@inject IDbContextFactory<LPBlazorServerContext> DbFactory
@inject NotificationService NotificationService

<PageTitle>LittlePigs MoneyTracker</PageTitle>

<h1>Report</h1>

    <RadzenChart>
        <RadzenPieSeries Data="@categorySpent" Title="TotalSpent" CategoryProperty="CategoryName" ValueProperty="TotalSpent">
        </RadzenPieSeries>
    </RadzenChart>

@code {
    bool busy = true;
    LPBlazorServerContext? _context;


    class DataItem
    {
        public string CategoryName { get; set; }
        public double TotalSpent { get; set; }
    }

    IList<DataItem> categorySpent = new List<DataItem>();

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _context = DbFactory.CreateDbContext();
        var transactions = _context.Transactions.Where(t => t.Amount < 0).ToList();
        var categoryGroup = transactions.Where(t=>t.CategoryName!="Salary").GroupBy(t => t.CategoryName);
        foreach (var group in categoryGroup)
        {
            categorySpent.Add(new DataItem
                {
                    CategoryName = group.Key ?? "Uncategorized",
                    TotalSpent = -1*(group.Sum(g => g.Amount))
                });
        }
    }
}